/*
 * Copyright (c) 2022-2023, Sonos, Inc.
 *
 * SPDX-License-Identifier:     GPL-2.0
 *
 */
/dts-v1/;

#include "sm1_s905d3_ac200_drm.dts"

/ {
	model = "Lasso";
	amlogic-dt-id = "sm1_ac200_2g";
	compatible = "amlogic, g12a";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	sonos-product-id = <0x05>;

	dolby_fw {
		compatible = "amlogic, dolby_fw";
		mem_size = <0x100000>;
		status = "enabled";
	};

	sonos-platform {
		/* Sonos platform specific values for shared driver source & binaries */
		sonos-ampctl {
			/* Alpine has one amp fault.  It has three control lines.*/
			status = "okay";
			hw-inits-index = <1>;
			hw-exits-index = <1>;
			using-i2c-amp;
			ignore-startup-faults;
			allow-auto-recovery;

			sonos-ampfaults {
				num-faults = <0x01>;
				status = "okay";

				ampfault@0 {
					fault-gpio = <&gpio GPIOA_12 GPIO_ACTIVE_LOW>;
					fault-flags = <IRQ_TYPE_EDGE_FALLING>;
					fault-label = "Amp fault";
				};
			};
		};

		misc-gpio {
			pairing-button  = <&gpio GPIOX_13 GPIO_ACTIVE_LOW>;
			no-irq;
			wall-mount = <&gpio GPIOZ_15 GPIO_ACTIVE_HIGH>;
		};
		gpio-switch {
			compatible = "sonos,gpio-switch";
			micmute = <&gpio_ao GPIOAO_9 GPIO_ACTIVE_HIGH>;
		};
		simulated-buttons {
			/* event-sources are offsets from EVTSOURCE_BUTTON_PLAYPAUSE
			 * some generate an event for more than one source
			 */
			power {
				event-sources = <5>;
				no-repeat-sim;
			};
			pairing {
				event-sources = <7>;
				no-repeat-sim;
			};
		};
		thermal-mgmt {
			CPU {
				fault-temperature = <95>;
				warn-temperature = <91>;
				compatible = "sonos,temp-ncu15";
				adc-channel = <1>;
				temperature-map {
					num-ranges = <10>;
					// max mV for range, a in range, b in range
					//   (linear ax +- b)
					//
					map-values = <  1000	375	398060
							1500	249	273050
							2000	254	279520
							2400	271	313370
							2750	305	395220
							3000	358	540770
							3250	448	811180
							3500	605	1323700
							3700	1095	3039800
							4096	1386	4118700 >;
				};
			};
			SOC {
				compatible = "amlogic, s767_temp";
				fault-temperature = <105>;
				warn-temperature = <105>;
			};
		};
		psoc_gpios: gpiochip4 {
			compatible = "sonos,psoc-gpio";
			gpio-controller;
			num-gpios = <1>;
			#gpio-cells = <2>;
			status = "okay";
		};
		micctl_gpio:sonos-gpio-micctl {
			compatible = "sonos,gpio-mics";
			micctl-gpio = <&psoc_gpios 0 GPIO_ACTIVE_HIGH>;
		};
		micctl@1 {
			compatible = "sonos,micctl";
			micctl-device = <&micctl_gpio>;
		};
	};

	hdmi_ctrl {
		compatible = "sonos,hdmi-ctrl";
		power-ctrl-gpio = <&gpio GPIOH_5 GPIO_ACTIVE_HIGH>;
		fault-gpio = <&gpio GPIOH_4 GPIO_ACTIVE_LOW>;
		songle-adc-device = <0>;
		songle-adc-channel = <3>;
		/* Nominal Songle voltage = 110/2^10*1.8V = 194mV */
		songle-adc-high = <160>;        /* 150/2^10*1.8V = 264mV */
		songle-adc-low = <120>;          /* 70/2^10*1.8V = 123mV */
		status = "okay";
	};

	meson-ir {
		status = "okay";
		protocol = <REMOTE_TYPE_RAW_NEC>;
		pinctrl-names = "default";
	};

	ir-rcvr {
		compatible = "sonos,ir-rcvr";
		status = "okay";
	};
	thermal-zones {
		cputhermal: cputhermal {
			polling-delay-passive = <1000>;
			polling-delay = <1000>;
			/* sensor ID */
			thermal-sensors = <&cputempsensor 0>;
		};
	};

	aliases {
		serial0 = &uart_AO;
		serial1 = &uart_A;
		serial2 = &uart_B;
		serial3 = &uart_C;
		serial4 = &uart_AO_B;
		tsensor0 = &p_tsensor;
		tsensor1 = &d_tsensor;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c_AO;
		spicc0 = &spicc0;
		spicc1 = &spicc1;
	};

	bt-dev{
		compatible = "amlogic, bt-dev";
		dev_name = "bt-dev";
		status = "disabled";
		gpio_reset = <&gpio       GPIOX_17       GPIO_ACTIVE_HIGH>;
		gpio_hostwake = <&gpio       GPIOX_19       GPIO_ACTIVE_HIGH>;
	};

	amvdec_656in {
		status = "disabled";

		bt656in1 {
			status = "disabled";
		};
	};

	amlvecm {
		compatible = "amlogic, vecm";
		dev_name = "aml_vecm";
		status = "okay";
		gamma_en = <0>;/*1:enabel ;0:disable*/
		wb_en = <0>;/*1:enabel ;0:disable*/
		cm_en = <0>;/*1:enabel ;0:disable*/
		/*0: 709/601  1: bt2020*/
		tx_op_color_primary = <0>;
	};

	amdolby_vision {
		compatible = "amlogic, dolby_vision_sm1";
		dev_name = "aml_amdolby_vision_driver";
		status = "okay";
		tv_mode = <0>;/*1:enabel ;0:disable*/
	};

	/* --------------- Audio Related start --------------- */
	tdm_codec:dummy {
		#sound-dai-cells = <0>;
		compatible = "amlogic,aml_dummy_codec";
		stream-name = "0-dac";
		rate = <44100>;    /* We use 44.1 KHz as the audio output rate */
		format = "S32_LE"; /* We use signed 24-bit little endian samples in a 32-bit word */
		channels = <24>;    /* Number of playback channels on Lasso is 15 (3 lanes of 3 amps x 2 ch each)
							  plus 2 unused channels on each lane. */
		status = "okay";
	};
	pdm_codec:dummy {
		#sound-dai-cells = <0>;
		compatible = "amlogic,pdm_dummy_codec";
		stream-name = "1-mic";
		rate = <48000>;    /* We use 48 KHz as the audio input rate. */
		format = "S32_LE"; /* We use signed 24-bit little endian samples in 32-bit words */
		channels = <6>;    /* Number of capture channels on Lasso is 6 */
		capture;           /* Set the stream direction to capture. Note: Default without this boolean flag 
							  is playback */
		status = "okay";
	};
	earc_codec:dummy{
		#sound-dai-cells = <0>;
		compatible = "amlogic, aml_dummy_codec";
		capture;
		status = "okay";
	};

	audiolocker: locker {
		compatible = "amlogic, audiolocker";
		clocks = <&clkaudio CLKID_AUDIO_LOCKER_OUT
				&clkaudio CLKID_AUDIO_LOCKER_IN
				&clkaudio CLKID_AUDIO_MCLK_D
				&clkaudio CLKID_AUDIO_MCLK_E
				&clkc CLKID_MPLL1
				&clkc CLKID_MPLL2>;
		clock-names = "lock_out", "lock_in", "out_src",
					"in_src", "out_calc", "in_ref";
		interrupts = <GIC_SPI 1 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "irq";
		frequency = <49000000>; /* pll */
		dividor = <49>; /* locker's parent */
		status = "disabled";
	};

	tuner: tuner {
		compatible = "amlogic, tuner";
		status = "disabled";
		tuner_name = "mxl661_tuner";
		tuner_i2c_adap = <&i2c1>;
		tuner_i2c_addr = <0x60>;
		tuner_xtal = <0>; /* 0: 16MHz, 1: 24MHz */
		tuner_xtal_mode = <0>;
					/* NO_SHARE_XTAL(0)
					 * SLAVE_XTAL_SHARE(1)
					 */
		tuner_xtal_cap = <30>; /* when tuner_xtal_mode = 1, set 25 */
	};


	sonos_rollback:sonos-rollback@ff800000 {
		compatible = "sonos,sonos-rollback";
		reg = <0x0 0xff800000 0x0 0x4>;
		offset = <0x00>;
		shift = <0>;
	};

	efuse: efuse {
		compatible = "amlogic, efuse";
		read_cmd = <0x82000030>;
		write_cmd = <0x82000031>;
		get_max_cmd = <0x82000033>;
		read_obj_cmd = <0x82000038>;
		write_obj_cmd = <0x82000039>;
		mem_in_base_cmd = <0x82000020>;
		mem_out_base_cmd = <0x82000021>;
		key = <&efusekey>;
		clocks = <&clkc CLKID_EFUSE>;
		clock-names = "efuse_clk";
		status = "okay";
	};

	cpu_iomap {
		compatible = "amlogic, iomap";
		#address-cells=<2>;
		#size-cells=<2>;
		ranges;
		io_cbus_base {
			reg = <0x0 0xffd00000 0x0 0x26fff>;
		};
		io_apb_base {
			reg = <0x0 0xffe01000 0x0 0x7f000>;
		};
		io_aobus_base {
			reg = <0x0 0xff800000 0x0 0xb000>;
		};
		io_vapb_base {
			reg = <0x0 0xff900000 0x0 0x50000>;
		};
		io_hiu_base {
			reg = <0x0 0xff63c000 0x0 0x2000>;
		};
	};

	auge_sound {
		/delete-property/ avout_mute-gpios;
		/delete-node/ aml-audio-card,dai-link@0;
		/delete-node/ aml-audio-card,dai-link@2;
		// /delete-node/ aml-audio-card,dai-link@4;
		// /delete-node/ aml-audio-card,dai-link@5;

		aml-audio-card,dai-link@1 {
			format = "dsp_b";
			mclk-fs = <1024>;
			//continuous-clock;
			//bitclock-inversion;
			//frame-inversion;
			/* master mode */
			bitclock-master = <&tdmb>;
			frame-master = <&tdmb>;
			/* slave mode */
			//bitclock-master = <&tdmbcodec>;
			//frame-master = <&tdmbcodec>;
			/* suffix-name, sync with android audio hal
			 * what's the dai link used for
			 */
			suffix-name = "alsaPORT-pcm";

			/* suspend disable clk */
			/* FIXME revisit */
			suspend-clk-off = <1>;

			cpu {
				sound-dai = <&tdmb>;
				// Lasso: at most, 6 channels are used in each lane (3 stereo amps), but we need to configure
				// it for 8 channels so that the current sensing ADC for MBB are run at the right rate.
				dai-tdm-slot-tx-mask =
							<1 1 1 1 1 1 1 1>;
				dai-tdm-slot-rx-mask =
							<1 1 0 0 0 0 0 0>;
				dai-tdm-slot-num = <8>;
				dai-tdm-slot-width = <32>;
				system-clock-frequency = <45158400>;  // 1024 x 44,100 (8ch @11.2MHz, 4ch @5.6MHz)
			};
			tdmbcodec: codec {
				prefix-names = "Sonos TDM out";
				sound-dai = <&tdm_codec &tdm_codec>;
			};
		};

		aml-audio-card,dai-link@6 {
			mclk-fs = <256>;
			continuous-clock;
			suffix-name = "alsaPORT-earc";
			cpu {
				sound-dai = <&earc>;
				system-clock-frequency = <12288000>;
			};
			codec {
				sound-dai = <&dummy_codec>;
			};
		};
	};

	pwm_psoc: pwm@0 {
		compatible = "sonos,psoc-pwm";
		#pwm-cells = <3>;
		label = "pwm-psoc";
		status = "okay";
	};

	pwm_micro {
		pwms = <&pwm_psoc 0 1000 0>;
		status = "disabled";
	};
};

&soc {
	/delete-node/ t9015;
};

&pwm_AO_cd {
		status = "okay";
};

&i2c0 {
	status = "okay";
	pinctrl-names="default";
	pinctrl-0=<&i2c0_sda_c_pins>, <&i2c0_sck_c_pins>;
	clock-frequency = <100000>;

	/* Richtek AMPS
	 * rt9120s
	 * Nine amps, amp4 & amp5 use PBTL mode and the rest use BTL mode
	 */
	amp1: rt9120s@18 {
		compatible = "richtek,rt9120s";
		reg = <0x18>;
		dev-id = <0x1>;
		first-amp-devid = <7>;
		shared-reset;
		mask-faults;
		reset-gpio = <&gpio GPIOA_13 GPIO_ACTIVE_LOW>;
		post-reset-delay = <10>;
		stage-delay = <20>;
		post-pause-delay = <100>;
		number-init-stages = <2>;
		init-sequence-length1 = <1>;
		reg-init1 = <0x40 0x80>;
		init-sequence-length2 = <15>;
		reg-init2 = < 0x63 0xDE 0x6C 0xC0 0x07 0x36 0x65 0x66 0x06 0x28
			0x02 0x03 0xA0 0x01 0xA1 0x08 0xA2 0x0C 0x27 0x01B0
			0x20 0x0180 0x0C 0x38 0x09 0x81 0x6E 0x1D 0x10 0x00>;
		play-a1-a2 = <0x00 0x04>;
		status = "okay";
	};

	amp2: rt9120s@19 {
		compatible = "richtek,rt9120s";
		reg = <0x19>;
		dev-id = <0x2>;
		first-amp-devid = <7>;
		shared-reset;
		reset-gpio = <&gpio GPIOA_13 GPIO_ACTIVE_LOW>;
		post-reset-delay = <10>;
		stage-delay = <20>;
		post-pause-delay = <100>;
		number-init-stages = <2>;
		init-sequence-length1 = <1>;
		reg-init1 = <0x40 0x80>;
		init-sequence-length2 = <15>;
		reg-init2 = < 0x63 0xDE 0x6C 0xC0 0x07 0x36 0x65 0x66 0x06 0x28
			0x02 0x03 0xA0 0x01 0xA1 0x08 0xA2 0x0C 0x27 0x01B0
			0x20 0x0180 0x0C 0x38 0x09 0x81 0x6E 0x1D 0x10 0x00>;
		play-a1-a2 = <0x08 0x0C>;
		status = "okay";
	};

	amp3: rt9120s@1a {
		compatible = "richtek,rt9120s";
		reg = <0x1a>;
		dev-id = <0x3>;
		first-amp-devid = <7>;
		shared-reset;
		reset-gpio = <&gpio GPIOA_13 GPIO_ACTIVE_LOW>;
		post-reset-delay = <10>;
		stage-delay = <20>;
		post-pause-delay = <100>;
		number-init-stages = <2>;
		init-sequence-length1 = <1>;
		reg-init1 = <0x40 0x80>;
		init-sequence-length2 = <15>;
		reg-init2 = < 0x63 0xDE 0x6C 0xC0 0x07 0x36 0x65 0x66 0x06 0x28
			0x02 0x03 0xA0 0x01 0xA1 0x08 0xA2 0x0C 0x27 0x01B0
			0x20 0x0180 0x0C 0x38 0x09 0x81 0x6E 0x1D 0x10 0x00>;
		play-a1-a2 = <0x10 0x14>;
		status = "okay";
	};
};

&i2c1 {
	status = "okay";
	pinctrl-names="default";
	pinctrl-0=<&i2c1_sda_x_pins>, <&i2c1_sck_x_pins>;
	clock-frequency = <100000>;

	amp4: rt9120s@1b {
		compatible = "richtek,rt9120s";
		reg = <0x1b>;
		dev-id = <0x4>;
		first-amp-devid = <7>;
		shared-reset;
		parallel-play;
		reset-gpio = <&gpio GPIOA_13 GPIO_ACTIVE_LOW>;
		post-reset-delay = <10>;
		stage-delay = <20>;
		post-pause-delay = <100>;
		number-init-stages = <2>;
		init-sequence-length1 = <1>;
		reg-init1 = <0x40 0x80>;
		init-sequence-length2 = <17>;
		reg-init2 = < 0x63 0xDE 0x6C 0xC0 0x07 0x36 0x65 0x77 0x06 0x28
			0x02 0x03 0xA0 0x01 0xA1 0x08 0xA2 0x0C 0x15 0x40
			0x64 0x59 0x27 0x01B0 0x20 0x0180 0x0C 0x38 0x09 0x81
			0x6E 0x1D 0x10 0x00>;
		play-a1-a2 = <0x00 0x04>;
		status = "okay";
	};

	amp5: rt9120s@18 {
		compatible = "richtek,rt9120s";
		reg = <0x18>;
		dev-id = <0x5>;
		first-amp-devid = <7>;
		shared-reset;
		parallel-play;
		reset-gpio = <&gpio GPIOA_13 GPIO_ACTIVE_LOW>;
		post-reset-delay = <10>;
		stage-delay = <20>;
		post-pause-delay = <100>;
		number-init-stages = <2>;
		init-sequence-length1 = <1>;
		reg-init1 = <0x40 0x80>;
		init-sequence-length2 = <17>;
		reg-init2 = < 0x63 0xDE 0x6C 0xC0 0x07 0x36 0x65 0x77 0x06 0x28
			0x02 0x03 0xA0 0x01 0xA1 0x08 0xA2 0x0C 0x15 0x40
			0x64 0x59 0x27 0x01B0 0x20 0x0180 0x0C 0x38 0x09 0x81
			0x6E 0x1D 0x10 0x00>;
		play-a1-a2 = <0x00 0x04>;
		status = "okay";
	};

	amp6: rt9120s@19 {
		compatible = "richtek,rt9120s";
		reg = <0x19>;
		dev-id = <0x6>;
		first-amp-devid = <7>;
		shared-reset;
		reset-gpio = <&gpio GPIOA_13 GPIO_ACTIVE_LOW>;
		post-reset-delay = <10>;
		stage-delay = <20>;
		post-pause-delay = <100>;
		number-init-stages = <2>;
		init-sequence-length1 = <1>;
		reg-init1 = <0x40 0x80>;
		init-sequence-length2 = <15>;
		reg-init2 = < 0x63 0xDE 0x6C 0xC0 0x07 0x36 0x65 0x66 0x06 0x28
			0x02 0x03 0xA0 0x01 0xA1 0x08 0xA2 0x0C 0x27 0x01B0
			0x20 0x0180 0x0C 0x38 0x09 0x81 0x6E 0x1D 0x10 0x00>;
		play-a1-a2 = <0x08 0x0C>;
		status = "okay";
	};
};

&i2c2 {
	status = "okay";
	pinctrl-names="default";
	pinctrl-0=<&i2c2_sda_x_pins>, <&i2c2_sck_x_pins>;
	clock-frequency = <100000>;

	apple_auth@0 {
		compatible = "Sonos,apple_auth";
		reg = <0x10>;
	};

	cputempsensor: tmp102@48 {
		compatible = "tmp102";
		reg = <0x48>;
		device_type="CPU";
		#thermal-sensor-cells = <1>;
    };

	rtc: mcp7940x@6f {
		compatible = "mcp7940x";
		reg = <0x6f>;
		interrupt-parent = <&gpio_intc>;
		interrupts = <GPIOAO_4 IRQ_TYPE_EDGE_FALLING>;
	};
};

&i2c3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_sda_a_pins>, <&i2c3_sck_a_pins>;
	clock-frequency = <100000>; /* default 100k */

	/delete-node/ ad82584f@31;

	amp7: rt9120s@1a {
		compatible = "richtek,rt9120s";
		reg = <0x1a>;
		dev-id = <0x7>;
		first-amp-devid = <7>;
		shared-reset;
		reset-gpio = <&gpio GPIOA_13 GPIO_ACTIVE_LOW>;
		post-reset-delay = <10>;
		stage-delay = <20>;
		post-pause-delay = <100>;
		number-init-stages = <2>;
		init-sequence-length1 = <1>;
		reg-init1 = <0x40 0x80>;
		init-sequence-length2 = <15>;
		reg-init2 = < 0x63 0xDE 0x6C 0xC0 0x07 0x36 0x65 0x66 0x06 0x28
			0x02 0x03 0xA0 0x01 0xA1 0x08 0xA2 0x0C 0x27 0x01B0
			0x20 0x0180 0x0C 0x38 0x09 0x81 0x6E 0x1D 0x10 0x00>;
		play-a1-a2 = <0x00 0x04>;
		status = "okay";
	};

	amp8: rt9120s@1b {
		compatible = "richtek,rt9120s";
		reg = <0x1b>;
		dev-id = <0x8>;
		first-amp-devid = <7>;
		shared-reset;
		reset-gpio = <&gpio GPIOA_13 GPIO_ACTIVE_LOW>;
		post-reset-delay = <10>;
		stage-delay = <20>;
		post-pause-delay = <100>;
		number-init-stages = <2>;
		init-sequence-length1 = <1>;
		reg-init1 = <0x40 0x80>;
		init-sequence-length2 = <15>;
		reg-init2 = < 0x63 0xDE 0x6C 0xC0 0x07 0x36 0x65 0x66 0x06 0x28
			0x02 0x03 0xA0 0x01 0xA1 0x08 0xA2 0x0C 0x27 0x01B0
			0x20 0x0180 0x0C 0x38 0x09 0x81 0x6E 0x1D 0x10 0x00>;
		play-a1-a2 = <0x08 0x0C>;
		status = "okay";
	};

	amp9: rt9120s@18 {
		compatible = "richtek,rt9120s";
		reg = <0x18>;
		dev-id = <0x9>;
		first-amp-devid = <7>;
		shared-reset;
		reset-gpio = <&gpio GPIOA_13 GPIO_ACTIVE_LOW>;
		post-reset-delay = <10>;
		stage-delay = <20>;
		post-pause-delay = <100>;
		number-init-stages = <2>;
		init-sequence-length1 = <1>;
		reg-init1 = <0x40 0x80>;
		init-sequence-length2 = <15>;
		reg-init2 = < 0x63 0xDE 0x6C 0xC0 0x07 0x36 0x65 0x66 0x06 0x28
			0x02 0x03 0xA0 0x01 0xA1 0x08 0xA2 0x0C 0x27 0x01B0
			0x20 0x0180 0x0C 0x38 0x09 0x81 0x6E 0x1D 0x10 0x00>;
		play-a1-a2 = <0x10 0x14>;
		status = "okay";
	};
};

&i2c_AO {
	status = "okay";
	pinctrl-names="default";
	pinctrl-0=<&i2c_ao_sck_pins>;
	clock-frequency = <100000>;

	is31fl3195@54 {  // LED controller
		compatible = "lumissil,is31fl3195";
		status = "okay";
		reg = <0x54>;
	};

	bma420@0 {  // accelerometer
		compatible = "sonos,bma420";
		status = "okay";
		reg = <0x18>;
		motion-detection-mode;
		music-impacts-z-axis;
		reinit-on-resume;
	};

	sge@0 {  // Sigdetail Gesture Engine
		compatible = "Sonos,sge-psoc4";
		pinctrl-names = "mode-uart-hiz", "mode-flow-ctrl";
		pinctrl-0 = <>;
		pinctrl-1 = <>;
		reg = <0x40>;
		gpio-addr = <0xff800000 0x130 0x34 0x0 0x28 0x34 0x0 0x28>;
		gpio-params = "base-addr", "len", "io-set", "io-clr", "io-din", "scl-set", "scl-clr", "scl-din";
		scl-bitmask =  <0x000010>;
		io-bitmask  =  <0x000040>;
		xres-gpio = <&gpio_ao GPIOAO_7 GPIO_ACTIVE_HIGH>;
		io-gpio   = <&gpio_ao GPIOAO_6 GPIO_ACTIVE_HIGH>;
		scl-gpio  = <&gpio_ao GPIOAO_4 GPIO_ACTIVE_HIGH>;
		irq-gpio  = <&gpio_ao GPIOAO_8 GPIO_ACTIVE_HIGH>;
		share-swd-uart = <0>;
		psoc-rtc = <0>;
		leanui-layout-proto;
		psoc-flash-verify-disabled;
		status = "okay";


		psoc-images {
			image@0 {
				model-num = <4025>;
				ident = <0x1a>;
				flash-rows = <256>;
				flash-row-size = <128>;
				flash-protection-size = <32>;
			};
		};

	};
};

&spicc0 {
	status = "disabled";
};

&spicc1 {
	status = "disabled";
};

&audiobus {
	/delete-node/ tdma;
	/delete-node/ tdmc;
	/delete-node/ tdm@0;
	/delete-node/ tdm@2;
	// /delete-node/ spdifa;
	// /delete-node/ spdifb;
	// /delete-node/ spdif@0;
	// /delete-node/ spdif@1;

	tdmb: tdm@1 {
			compatible = "amlogic, sm1-snd-tdmb";
			#sound-dai-cells = <0>;
			dai-tdm-lane-slot-mask-in = <0 0 0 1>;
			dai-tdm-lane-slot-mask-out = <1 1 1 0>;
			//dai-tdm-lane-slot-mask-in = <0 0 0 0 0 0 0 0>;
			//dai-tdm-lane-slot-mask-out = <1 1 1 1 1 1 1 1>;
			dai-tdm-clk-sel = <1>;
			clocks = <&clkaudio CLKID_AUDIO_MCLK_B
					&clkaudio CLKID_AUDIO_MCLK_PAD1
					&clkc CLKID_MPLL1
					&clkc CLKID_MPLL0
					&clkaudio CLKID_AUDIO_SPDIFOUT_A>;
			clock-names = "mclk", "mclk_pad", "clk_srcpll",
				"samesource_srcpll", "samesource_clk";
			pinctrl-names = "tdm_pins";

			pinctrl-0 = <&tdm_b_dout0_pins
						&tdm_b_dout1_pins
						&tdm_b_dout2_pins
						&tdm_b_din3_a_pins
						&tdm_b_sclk_pins
						&tdm_b_fs_pins
						&tdm_b_clk_pins>;

			/*
			 * 0: tdmout_a;
			 * 1: tdmout_b;
			 * 2: tdmout_c;
			 * 3: spdifout;
			 * 4: spdifout_b;
			 */
			samesource_sel = <3>;

			/*enable default mclk(12.288M)*/
			start_clk_enable = <1>;

			/*tdm clk tuning enable*/
			clk_tuning_enable = <1>;

			/* FIXME suspend disable clk */
			suspend-clk-off = <1>;
	};

	apdm: pdm {
		pinctrl-0 = <&pdm_din0_c_pins
					&pdm_din1_c_pins
					&pdm_din2_c_pins
					&pdm_din3_c_pins
					&pdm_dclk_c_pins>;

		/* mode 0~4, defalut:1 */
		filter_mode = <1>;
		train_sample_count = <0x2>;

		status = "okay";
	};
}; /* end of audiobus */

&earc {
	status = "okay";
};

/* Audio Related End */

&pwm_ef {
	status = "okay";
};

&dwc3 {
	status = "disabled";
};

&usb2_phy_v2 {
	status = "okay";
	portnum = <2>;
};

&usb3_phy_v2 {
	status = "disabled";
	portnum = <1>;
	otg = <1>;
};

&dwc2_a {
	status = "okay";
	/** 0: normal, 1: otg+dwc3 host only, 2: otg+dwc3 device only*/
	controller-type = <3>;
};
&ethmac {
	status = "okay";
	//pinctrl-names = "internal_eth_pins";
	//pinctrl-0 = <&internal_eth_pins>;
	mc_val = <0x4be04>;
	internal_phy=<1>;
	mac_wol = <1>;
};

&uart_A {
	status = "disabled";
};

&meson_cooldev {
	status = "okay";
};

&sd_emmc_b {
        status = "disabled";
};

&aml_wifi {
	status = "disabled";
};

&pcie {
        compatible = "amlogic, amlogic-pcie-v2";
        reset-gpio = <&gpio GPIOH_8 GPIO_ACTIVE_HIGH>;
        speed-mod = <1>;
        gpio-type = <1>; /* reset gpio type : OD */
        status = "okay";
};

&periphs_pinctrl {
	hdmitx_hpd_gpio: hdmitx_hpd_gpio {
		mux {
			groups = "GPIOH_2";
			function = "gpio_periphs";
			bias-disable;
		};
	};
};
