/*
 * Copyright (c) 2021, Sonos, Inc.
 *
 * SPDX-License-Identifier:     GPL-2.0
 *
 * v0	- Optimo1SL p2a [first SL build came as part of p2a, with Richtek, no TI amp SLs]
 * v1	- Optimo1SL p2b - BT sync change
 */

/dts-v1/;

#include "optimo_common.dtsi"
#include "s767_1gbddr.dtsi"

/ {
	model = "Optimo1SL V1";

        sonos-product-id = <0x02>;

	sonos-platform {
		thermal-mgmt {
			/delete-node/ AMP;
		};
                /* No mic switch on SL */
                /delete-node/ gpio-switch;
	};

	memory@00000000 {
		device_type = "memory";
		linux,usable-memory = <0x0 0x000000 0x0 0x40000000>;
	};

	/* No mics on SL */
	/delete-node/ sonos-gpio-micctl;
	/delete-node/ micctl@1;

	soc {
		cbus@ffd00000 {
			i2c@1f000 {
				rt9120s@18 {
					status = "okay";
				};
				rt9120s@19 {
					/delete-property/ parallel-play;
					init-sequence-length2 = <15>;
					reg-init2 = < 0x63 0xDE 0x6C 0xC0 0x07 0x36 0x65 0x66 0x06 0x28
						0x02 0x03 0xA0 0x01 0xA1 0x08 0xA2 0x0C 0x27 0x01B0 0x20 0x0180 0x0c 0x38 0x09 0x81 0x6e 0x1d 0x10 0x00>;
					status = "okay";
				};
			};
		};
		aobus@ff800000 {
			i2c@5000 {
				/delete-node/ lp5562@0 ;
			};
		};
	};
};

#include "optimo1_captouch.dtsi"
