config MTK_AUDIO_ASRC
        bool "Support Memory ASRC"
        help
          This adds audio asrc driver for Mediatek boards
          Select Y if you have such device.
          If unsure select "N".
